@font-face {
	font-family: "Icons";
	src: url('../icons/Icons.eot');
	src: url('../icons/Icons.eot?#iefix') format('eot'),
		url('../icons/Icons.woff2') format('woff2'),
		url('../icons/Icons.woff') format('woff'),
		url('../icons/Icons.ttf') format('truetype'),
		url('../icons/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-facebook:before {
	content: "\E001";
}

.icon-feed:before {
	content: "\E002";
}

.icon-google-plus:before {
	content: "\E003";
}

.icon-instagram-2:before {
	content: "\E004";
}

.icon-instagram:before {
	content: "\E005";
}

.icon-linkedin:before {
	content: "\E006";
}

.icon-mail:before {
	content: "\E007";
}

.icon-pinterest:before {
	content: "\E008";
}

.icon-spotify:before {
	content: "\E009";
}

.icon-twitter:before {
	content: "\E00A";
}

.icon-whatsapp-2:before {
	content: "\E00B";
}

.icon-whatsapp:before {
	content: "\E00C";
}

.icon-youtube:before {
	content: "\E00D";
}
