*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
  filter: alpha(opacity=54);
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[class*='grid-'] {
  padding: 10px 10px;
  position: relative;
}
.grid {
  max-width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.grid-wrapper {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .grid-1 {
    max-width: 8.33%;
  }
  .grid-2 {
    max-width: 16.66%;
  }
  .grid-3 {
    max-width: 25%;
  }
  .grid-4 {
    max-width: 33.33%;
  }
  .grid-5 {
    max-width: 41.66%;
  }
  .grid-6 {
    max-width: 50%;
  }
  .grid-7 {
    max-width: 58.33%;
  }
  .grid-8 {
    max-width: 66.66%;
  }
  .grid-9 {
    max-width: 75%;
  }
  .grid-10 {
    max-width: 83.33%;
  }
  .grid-11 {
    max-width: 91.66%;
  }
  .grid-12 {
    max-width: 100%;
  }
  .grid-dec-10 {
    max-width: 10%;
  }
  .grid-dec-20 {
    max-width: 20%;
  }
  .grid-dec-30 {
    max-width: 30%;
  }
  .grid-dec-40 {
    max-width: 40%;
  }
  .grid-dec-50 {
    max-width: 50%;
  }
  .grid-dec-60 {
    max-width: 60%;
  }
  .grid-dec-70 {
    max-width: 70%;
  }
  .grid-dec-80 {
    max-width: 80%;
  }
  .grid-dec-90 {
    max-width: 90%;
  }
}
@font-face {
  font-family: 'AmsiPro';
  src: url("../fonts/AmsiPro-Black.eot");
  src: local('☞AmsiPro-Black'), local('AmsiPro-Black'), url("../fonts/AmsiPro-Black.eot?#iefix") format('embedded-opentype'), url("../fonts/AmsiPro-Black.woff2") format('woff2'), url("../fonts/AmsiPro-Black.woff") format('woff'), url("../fonts/AmsiPro-Black.ttf") format('truetype'), url("../fonts/AmsiPro-Black.svg#AmsiPro-Black") format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Rounded MT';
  src: url("../fonts/ArialRoundedMTBold.eot");
  src: local('Arial Rounded MT Bold'), local('ArialRoundedMTBold'), url("../fonts/ArialRoundedMTBold.eot?#iefix") format('embedded-opentype'), url("../fonts/ArialRoundedMTBold.woff2") format('woff2'), url("../fonts/ArialRoundedMTBold.woff") format('woff'), url("../fonts/ArialRoundedMTBold.ttf") format('truetype'), url("../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AmsiProCond';
  src: url("../fonts/AmsiProCond-SemiBold.eot");
  src: local('☞AmsiProCond-SemiBold'), local('AmsiProCond-SemiBold'), url("../fonts/AmsiProCond-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/AmsiProCond-SemiBold.woff2") format('woff2'), url("../fonts/AmsiProCond-SemiBold.woff") format('woff'), url("../fonts/AmsiProCond-SemiBold.ttf") format('truetype'), url("../fonts/AmsiProCond-SemiBold.svg#AmsiProCond-SemiBold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AmsiProNarw';
  src: url("../fonts/AmsiProNarw-SemiBold.eot");
  src: local('☞AmsiProNarw-SemiBold'), local('AmsiProNarw-SemiBold'), url("../fonts/AmsiProNarw-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/AmsiProNarw-SemiBold.woff2") format('woff2'), url("../fonts/AmsiProNarw-SemiBold.woff") format('woff'), url("../fonts/AmsiProNarw-SemiBold.ttf") format('truetype'), url("../fonts/AmsiProNarw-SemiBold.svg#AmsiProNarw-SemiBold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AmsiPro';
  src: url("../fonts/AmsiPro-Bold.eot");
  src: local('☞AmsiPro-Bold'), local('AmsiPro-Bold'), url("../fonts/AmsiPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/AmsiPro-Bold.woff2") format('woff2'), url("../fonts/AmsiPro-Bold.woff") format('woff'), url("../fonts/AmsiPro-Bold.ttf") format('truetype'), url("../fonts/AmsiPro-Bold.svg#AmsiPro-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'AmsiPro';
  src: url("../fonts/AmsiPro-Regular.eot");
  src: local('☞AmsiPro-Regular'), local('AmsiPro-Regular'), url("../fonts/AmsiPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/AmsiPro-Regular.woff2") format('woff2'), url("../fonts/AmsiPro-Regular.woff") format('woff'), url("../fonts/AmsiPro-Regular.ttf") format('truetype'), url("../fonts/AmsiPro-Regular.svg#AmsiPro-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Light.eot");
  src: local('Montserrat Light'), local('Montserrat-Light'), url("../fonts/Montserrat-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/Montserrat-Light.woff2") format('woff2'), url("../fonts/Montserrat-Light.woff") format('woff'), url("../fonts/Montserrat-Light.ttf") format('truetype'), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.eot");
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("../fonts/Montserrat-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Montserrat-Bold.woff2") format('woff2'), url("../fonts/Montserrat-Bold.woff") format('woff'), url("../fonts/Montserrat-Bold.ttf") format('truetype'), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url("../fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Montserrat-Regular.woff2") format('woff2'), url("../fonts/Montserrat-Regular.woff") format('woff'), url("../fonts/Montserrat-Regular.ttf") format('truetype'), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  font-weight: 300;
  line-height: 1.5em;
}
@media screen and (min-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1260px) {
  html,
  body {
    font-size: 16px;
  }
}
html {
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bg-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bg-page:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
a {
  color: color-16;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
  position: relative;
}
a:hover {
  color: color-7;
}
.mwrap {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 640px) {
  .mwrap {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .mwrap {
    width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  .mwrap {
    width: 60%;
  }
}
@media screen and (max-width: 1399px) {
  .no-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1400px) {
  .no-desktop {
    display: none;
  }
}
.only {
  display: none;
}
@media screen and (max-width: 639px) {
  .only-xs {
    display: block;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .only-s {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .only-m {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .only-l {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .only-xl {
    display: block;
  }
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.but {
  text-decoration: none;
  color: #fff;
  padding: 12px 30px;
  display: table;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.938em;
  font-weight: 500;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #045d54;
}
@media screen and (min-width: 768px) {
  .but {
    padding: 10px 60px;
  }
}
.but span {
  display: block;
  position: relative;
  z-index: 5;
}
.but:before {
  content: '';
  border: 1px solid #fff;
  border-radius: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.but:hover {
  background: #068e80;
}
.but:hover:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.but-color {
  color: #fff;
}
.but-color:hover {
  color: #068e80;
}
.b-inline {
  display: inline-block;
  vertical-align: middle;
}
.transition {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.transition-a a {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.banner {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.banner-image {
  padding-bottom: 150%;
  position: relative;
  z-index: 0;
  background-color: #ecebed;
}
@media screen and (min-width: 360px) {
  .banner-image {
    padding-bottom: 175%;
  }
}
@media screen and (min-width: 640px) {
  .banner-image {
    padding-bottom: 147%;
  }
}
@media screen and (min-width: 768px) {
  .banner-image {
    padding-bottom: 133%;
  }
}
@media screen and (min-width: 1024px) {
  .banner-image {
    padding-bottom: 75%;
  }
}
@media screen and (min-width: 1260px) {
  .banner-image {
    padding-bottom: 42%;
  }
}
@media screen and (min-width: 1400px) {
  .banner-image {
    padding-bottom: 34%;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    background-position: 30% center;
  }
  .banner-image:before,
  .banner-image:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
  }
  .banner-image:before {
    left: 0;
    background: -webkit-linear-gradient(left, #ecebed 0%, rgba(236,235,237,0) 100%);
    background: -moz-linear-gradient(left, #ecebed 0%, rgba(236,235,237,0) 100%);
    background: -o-linear-gradient(left, #ecebed 0%, rgba(236,235,237,0) 100%);
    background: -ms-linear-gradient(left, #ecebed 0%, rgba(236,235,237,0) 100%);
    background: linear-gradient(to right, #ecebed 0%, rgba(236,235,237,0) 100%);
  }
  .banner-image:after {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(236,235,237,0) 0%, #ecebed 100%);
    background: -moz-linear-gradient(left, rgba(236,235,237,0) 0%, #ecebed 100%);
    background: -o-linear-gradient(left, rgba(236,235,237,0) 0%, #ecebed 100%);
    background: -ms-linear-gradient(left, rgba(236,235,237,0) 0%, #ecebed 100%);
    background: linear-gradient(to right, rgba(236,235,237,0) 0%, #ecebed 100%);
  }
}
.banner-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #068e80;
}
@media screen and (min-width: 1024px) {
  .banner-content {
    font-size: 16px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content {
    font-size: 18px;
  }
}
.banner-content .mwrap {
  margin: inherit;
  margin-bottom: 15px;
}
@media screen and (min-width: 1260px) {
  .banner-content .mwrap {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.banner-content .mwrap .add-wrapper {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -o-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 360px) {
  .banner-content .mwrap .add-wrapper {
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .mwrap .add-wrapper {
    max-width: 55%;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .mwrap .add-wrapper {
    max-width: calc(100% - 550px);
  }
}
@media screen and (max-width: 359px) {
  .banner-content .box-text {
    margin-top: 20px;
  }
}
.banner-content .box-text-1 {
  font-family: "AmsiPro";
  margin-bottom: 0;
}
.banner-content .box-text-1 .text-1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.833em;
  line-height: 1.182em;
}
.banner-content .box-text-1 .text-2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.25em;
  line-height: 1.222em;
  margin-top: -9px;
  margin-bottom: -4px;
}
.banner-content .box-text-1 .text-3 {
  font-weight: normal;
  font-size: 1.167em;
  line-height: 1.214em;
}
.banner-content .box-text-1 .text-3 span {
  font-size: 1.071em;
  line-height: 1.267em;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  margin-top: 3px;
  margin-left: 4px;
  vertical-align: top;
  background-color: #068e80;
  padding: 0 5px 4px;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.banner-content .box-text-2 {
  background: #068e80;
  color: #fff;
  padding: 3px 7px 7px;
  border-radius: 7px;
}
.banner-content .box-text-2 .text-1 {
  text-transform: uppercase;
  font-size: 0.917em;
  text-align: right;
  width: 100%;
  font-family: "AmsiProNarw";
  letter-spacing: 1px;
  font-weight: 600;
}
.banner-content .box-text-2 .text-2 {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 0 5px 5px;
  font-family: "Arial Rounded MT";
  text-transform: uppercase;
}
.banner-content .box-text-2 .line-1 {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.banner-content .box-text-2 .line-1 .subtext {
  font-size: 1.75em;
  padding: 0;
}
.banner-content .box-text-2 .line-2 {
  text-align: right;
}
.banner-content .box-text-2 .line-2 .subtext-2 {
  font-size: 1.5em;
}
.banner-content .box-text-2 .prom {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -17px;
  background-color: #068e80;
  padding: 0 4px;
  width: 70px;
  margin-left: -4px;
  margin-bottom: -4px;
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-2 .prom {
    margin-top: -20px;
    width: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-2 .prom {
    margin-top: -20px;
    width: 90px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .box-text-2 .prom {
    margin-top: -24px;
    width: 100px;
  }
}
.banner-content .box-text-2 .prom .subtext-1 {
  width: 100%;
  font-size: 1em;
  margin-bottom: 2px;
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-2 .prom .subtext-1 {
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-2 .prom .subtext-1 {
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .box-text-2 .prom .subtext-1 {
    margin-bottom: 8px;
  }
}
.banner-content .box-text-2 .prom .number {
  font-size: 3.083em;
  margin-right: 2px;
}
.banner-content .box-text-2 .prom .complement {
  margin-top: -5px;
  margin-left: -1px;
}
.banner-content .box-text-2 .prom .complement span {
  display: block;
}
.banner-content .box-text-2 .prom .complement span:first-child {
  font-size: 1.583em;
}
.banner-content .box-text-2 .prom .complement span:last-child {
  font-size: 0.75em;
  margin-top: -5px;
}
@media screen and (min-width: 1024px) {
  .banner-content .mwrap {
    display: -webkit-border-box;
    display: -moz-border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: border-box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .banner-content .content {
    width: 50%;
  }
}
.text-change .text {
  display: none;
}
.text-change .text.active {
  display: block;
}
.head {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.logo {
  max-width: 160px;
  background-color: #068e80;
  padding: 40px 20px 20px;
}
@media screen and (min-width: 640px) {
  .logo {
    max-width: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    max-width: 200px;
  }
}
.sect-form {
  background: #d3d6db;
  padding: 40px 0;
}
@media screen and (min-width: 1260px) {
  .sect-form {
    padding: 0;
  }
}
.sect-form p:first-child {
  margin-top: 0;
}
.sect-form p:last-child {
  margin-bottom: 0;
}
.sect-form .form {
  background: rgba(255,255,255,0.7);
  border-radius: 15px;
  padding: 30px;
}
@media screen and (min-width: 1260px) {
  .sect-form .form {
    position: absolute;
    top: -40px;
    width: 50%;
    max-width: 500px;
    padding: 40px;
    padding-top: 9.5%;
    right: 5%;
    display: -webkit-border-box;
    display: -moz-border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: border-box;
    display: flex;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1400px) {
  .sect-form .form {
    right: 20%;
  }
}
.sect-form .form .text {
  font-weight: normal;
  margin-bottom: 20px;
}
.sect-form .form form input[type=text],
.sect-form .form form input[type=tel],
.sect-form .form form input[type=number],
.sect-form .form form input[type=email] {
  border: 1px solid #4bbea9;
  padding: 5px 8px;
  width: 100%;
  border-radius: 2px;
}
.sect-form .form form input[type=text].error,
.sect-form .form form input[type=tel].error,
.sect-form .form form input[type=number].error,
.sect-form .form form input[type=email].error {
  border-color: #dd150a;
  background: #fcbbb7;
}
.sect-form .form form input[type=number] {
  -moz-appearance: textfield;
}
.sect-form .form form input[type=number]::-webkit-outer-spin-button,
.sect-form .form form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sect-form .form .field-wrap {
  margin: 10px 0;
  position: relative;
}
@media screen and (min-width: 1260px) {
  .sect-form .form .field-wrap {
    margin: 15px 0;
  }
}
.sect-form .form .field-wrap.phone-number {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sect-form .form .field-wrap.phone-number input[type=number] {
  width: 25%;
}
.sect-form .form .field-wrap.phone-number input[type=tel] {
  width: calc(75% - 15px);
  margin-left: 5px;
}
.sect-form .form .field-wrap.phone-number span {
  display: block;
  width: 5px;
}
.sect-form .form .field-wrap span.error {
  position: absolute;
  background: #dd150a;
  width: 24px !important;
  height: 24px !important;
  border-radius: 100px;
  top: 5px;
  right: 5px;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  display: -webkit-border-box !important;
  display: -moz-border-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: border-box !important;
  display: flex !important;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sect-form .form .field-submit {
  margin-top: 25px;
}
.sect-form .form .field-submit button,
.sect-form .form .field-submit input {
  width: 100%;
  background-color: #dd150a;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 1.083em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.sect-form .form .field-submit button:hover,
.sect-form .form .field-submit input:hover {
  background-color: #940e07;
}
.sect-content {
  position: relative;
  z-index: 2;
  background: #068e80;
  color: #fff;
  padding: 40px 0;
  margin: 0;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
}
@media screen and (min-width: 640px) {
  .sect-content {
    min-height: 280px;
  }
}
@media screen and (min-width: 768px) {
  .sect-content {
    min-height: 150px;
  }
}
@media screen and (min-width: 1024px) {
  .sect-content {
    min-height: 380px;
  }
}
@media screen and (min-width: 1400px) {
  .sect-content {
    min-height: 120px;
  }
}
.sect-content .list-items {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  width: calc(100% + 10px);
  margin-left: -5px;
  margin-top: -5px;
}
.sect-content .list-items .item {
  background-color: #fff;
  border-radius: 10px;
  color: #424242;
  font-weight: normal;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 639px) {
  .sect-content .list-items .item {
    max-width: calc(50% - 10px);
    margin: 5px;
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .sect-content .list-items .item {
    max-width: calc(50% - 10px);
    padding: 20px;
    margin: 5px;
  }
}
@media screen and (min-width: 768px) {
  .sect-content .list-items .item {
    margin: 5px;
    max-width: calc(25% - 10px);
  }
}
@media screen and (min-width: 1260px) {
  .sect-content .list-items .item {
    padding: 25px;
  }
}
.sect-content .list-items .item .icon-image {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
  max-width: 130px;
}
.sect-content .list-items .item p:first-child {
  margin-top: 0;
}
.sect-content .list-items .item p:last-child {
  margin-bottom: 0;
}
.sect-content .content {
  margin-top: 35px;
  text-align: justify;
}
.sect-content .content h3 {
  font-size: 1.167em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
.foot {
  padding: 10px 0 20px;
  color: #d3d6db;
  background: #068e80;
  position: relative;
  z-index: 1;
}
#piecu {
  width: 100%;
  display: block;
}
#piecu a {
  text-decoration: none;
  color: inherit;
}
#piecu img {
  width: auto;
}
