@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Mono:300,300i,400,400i,500,500i,700,700i');
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/



/* -------------------------------------------------------------- */
/*                          LANDING                               */
/* ---------------------------------------------------------------*/

	.seccion-violeta {height: auto; background-color:#4b4b93; text-align:center;}
	.seccion-violeta h2 {font-family: 'Roboto Mono', monospace; text-align:center; font-weight: 400; font-size: 50px; color:#fff; letter-spacing: -1.8; margin-top: 80px; line-height:1.2}

	.despreocupando-txt .rosa { ; position:relative; float:right; margin-top: 150px; background-color:#c1527f; padding:15px 10px; max-width: 335px;}
	.despreocupando-txt .rosa2 { z-index:1;  position:absolute; width: 100%; height:100%; background-color:#ff9999; bottom:10px; right:10px;}
	.despreocupando-txt p {top:-10px; left:-10px; z-index:2; position:relative; font-family: 'Roboto Mono', monospace; font-weight: 400; text-align:left; font-size: 40px; color:#fff; letter-spacing: -1.8; line-height: 1; margin-bottom: 0;}
	.despreocupando-img {margin-top:23px;}


	.seccion-rosa {height: auto; background-color:#ff9999; text-align:center; padding:125px 0; background-image:url(../images/landings_01_2018/mano.svg); background-position:right center; background-repeat:no-repeat;}
	.seccion-rosa ul {padding: 0 15px;  text-align:center; }
	.seccion-rosa ul li {font-family: 'Roboto Mono', monospace; font-weight: 400; list-style-position:inside; font-size: 19px; color:#4b4b93; letter-spacing: -1.8; line-height:1.5; margin-bottom: 10px }
	.mano {display: none}

	.seccion-aqua {background-color:#81d5cb;}
	.seccion-aqua h1 {font-family: 'Roboto Mono', monospace; font-weight: 400; font-size: 50px; color:#4b4b93; letter-spacing: -1.8; margin-top: 80px; line-height:1.2}
	.formulario {margin-top: 40px; padding-bottom: 120px}
	.formulario input,
	.formulario textarea {background-color:#fff;border:2px solid #fff; width: 100%; padding:10px 20px; line-height: 23px; font-size: 18px; color:#4b4b93; margin-bottom: 9px;font-family: 'Roboto Mono', monospace;}
	.formulario input[type="submit"] {text-align:left; color:#fff;border:2px solid #3a2e7f; width: 50%; background-color:#3a2e7f; margin-bottom: 9px;font-family: 'Roboto Mono', monospace;}
	.formulario input:focus {border:2px solid #3a2e7f;}
	.formulario input.error {border-color:#e06d94; color:#e06d94;}
	.formulario textarea {min-height: 140px}
	.formulario ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #4b4b93; }
	.formulario ::-moz-placeholder { /* Firefox 19+ */ color: #4b4b93; }
	.formulario :-ms-input-placeholder { /* IE 10+ */ color: #4b4b93; }
	.formulario :-moz-placeholder { /* Firefox 18- */ color: #4b4b93; }

	.formulario #pref1 {width:145px;}
	.formulario #telefono { width: 289px;  float: right;}
	
	.formulario .mensaje {  padding: 10px 0px; line-height: 23px; font-size: 14px; color: #4b4b93; margin-bottom: 9px; font-family: 'Roboto Mono', monospace; }
	.seccion-aqua .hijos {margin-top:100px; overflow: hidden }
	.seccion-blanco .asesor .rosa {margin-top: 90px; margin-bottom: 60px}
	.seccion-blanco .choque-img {margin-top: 33px;}
	.seccion-blanco .asesor a {text-decoration: none}
	.seccion-blanco .asesor p { font-size: 22px; color: #4b4b93; text-align: center; text-decoration: none}
	.seccion-blanco .asesor p span { font-size: 29px; clear:both; display: block;margin-top: 5px;}

	.seccion-aqua .face a { margin-top: 30px; display: block;  font-size: 15px; color:#4b4b93; font-family: 'Roboto Mono', monospace; text-decoration:none;}
	.seccion-aqua .web a {text-align: center; margin-top: 30px; display: block;  font-size: 15px; color:#4b4b93; font-family: 'Roboto Mono', monospace; text-decoration:none;}
	.seccion-aqua .allende {float:right;}
	.seccion-aqua .allende a {text-align:right; display: block}
	.seccion-aqua #piecu {margin: 10px}

	@media(min-width:1366px){
		.seccion-rosa {}
		.seccion-rosa ul {width: 100%}
		.seccion-rosa ul li {font-size: 22px;}
		.seccion-aqua .hijos {overflow: visible}
	}

	@media(max-width: 991px){
		.seccion-rosa { background-image:none; padding:100px 0; }
		.mano {padding-right: 0; position: relative; display: block;}
		.mano img {float:right; max-width: 100%; right: 0}
		.seccion-rosa ul li { font-size: 17px; text-align: left; list-style-position:outside;   margin-left: 20px;  }
		.seccion-aqua h1 {font-size: 40px}
		.seccion-aqua .hijos {margin-top: 220px}
		.seccion-aqua .hijos img {width: 100%;}
		.formulario #pref1 {width:125px;}
		.formulario #telefono {   width: 269px;}
		.seccion-aqua .face a {  font-size: 14px;}
		.seccion-aqua .web a { font-size: 14px; }
	}



	@media(max-width: 767px){
		.logo-landing  img {width: 100%}
		.seccion-violeta h2 { font-size: 38px; margin-top: 60px; }
		.despreocupando-txt .rosa { max-width: inherit; margin-top: 40px; left:10px; top:10px;}
		.despreocupando-txt p {font-size: 30px}
		.despreocupando-img {margin-top:95px;}
		.despreocupando-img img {  width: 110%; float: right;}

		.seccion-rosa { background-image:none; padding:50px 0; }
		.seccion-aqua h1 {font-size: 30px; margin-top: 50px;}
		.formulario {margin-top: 30px; padding-bottom: 80px}
		.formulario input,
		.formulario textarea { padding:7px 15px; }
		.formulario #telefono {   width: 290px;}

		.seccion-blanco .choque-img {margin-top: 55px}
		.seccion-blanco .choque-img img {width: 100%;}

		.seccion-aqua .allende {float:right; padding-right: 0}
		.seccion-aqua .allende img {width: 100%; }

		.seccion-aqua .face a {  margin-top: 10px	}
		.seccion-aqua .web a { margin-top: 8px; }
	}


	@media(max-width: 479px){
		.seccion-violeta h2 { font-size: 28px; margin-top: 45px; }
		.despreocupando-img {margin-top:35px;}
		.despreocupando-img img {  width: 100%;}
		.seccion-aqua {padding:0 15px;}
		.seccion-aqua h1 {font-size: 24px; margin-top: 30px;}
		
		.seccion-blanco .asesor .rosa {margin-top: 40px; margin-bottom: 0px}
		.seccion-blanco .choque-img {margin-bottom:20px}

		.formulario #pref1 {width:85px;}
		.formulario #telefono {   width: 180px;}

		.seccion-aqua .face,
		.seccion-aqua .allende a  { text-align:center; margin-top: 20px;}
		.seccion-aqua .allende img {width: 60%; margin: auto; text-align:center;  margin-bottom: 20px}
	}




/*----------------------------------------------------------------*/
/*			  	 	 LANDING ESTUDIANTES                          */
/*----------------------------------------------------------------*/
.fondo-deg {background-image: url(../images/landings_01_2018/bg-deg.jpg); background-size: 1920px auto; background-position:top center; min-height: 470px; background-repeat: no-repeat;}
.postit {background-image: url(../images/landings_01_2018/postit.png); height:415px; float:left; clear:both; background-repeat:no-repeat; padding: 120px 155px 20px 60px; margin-left:-27px;}
.postit ul li {font-family: 'Montserrat', sans-serif; list-style-image:url(../images/landings_01_2018/tilde.svg); line-height:1.2; margin-bottom: 10px; font-size: 16px}
.formulario2 { float:right; margin-top: -88px;}
.formulario2 .encabezado {background-image: url(../images/landings_01_2018/encabezado-formu.svg); min-height: 80px; background-repeat: no-repeat; padding:35px 50px 0px 50px ;}
.formulario2 h3 ,
.formulario2 span {font-size: 16px; margin:0; font-weight: 700; color:#fff;font-family: 'Montserrat', sans-serif; }
.formulario2 form { background-color:#cd5967; padding:20px 50px 120px 50px ;}
.formulario2 input {background-color: #fff; width: 100%; margin-bottom: 10px;padding:10px; border:0; line-height:25px; text-transform:uppercase;color:#6e6e6e;font-size:12px; font-family: 'Montserrat', sans-serif; font-weight: bold; }
.formulario2 #pref1 {width: 100px}
.formulario2 #telefono {width: 259px; float:right;}
.formulario2 input[type="submit"]{display: block;margin-top:-100px; width: 100%;  padding:20px 10px;background-color:#ac4e58; color:#fff; text-align:center; font-size: 16px}
.formulario2 a { margin-top:-100px; width: 40%;  background-color: #d0666e;  padding: 10px;  color: #fff;  text-align: center;  float: right;  font-size: 14px;  display: inline-block;  text-decoration: none;  line-height: 1.1;}
.formulario2 a {display: none !important}

.formulario2 .mensaje {color:#fff; margin-bottom: 0}
.mas-info {padding: 125px 0 10px 0; background-image: url(../images/landings_01_2018/path-arena.jpg); background-repeat: repeat; margin-top: -85px}
.mas-info .titulo {text-align: center;}
.mas-info .titulo hr {width: 65px; border-top:2px solid #569e89; border-bottom: 0; display: inline-block;}
.mas-info .titulo h1 {color: #569e89; display: inline-block; padding: 0px 20px; font-size: 20px; font-weight:700; position:relative; top:-14px;}

.mas-info #piecu {margin-right:20px;}

.papel {background-image: url(../images/landings_01_2018/hoja.png); background-repeat: no-repeat; min-height: 415px; margin-top: 10px; margin-bottom: 30px;padding:75px 153px; position: relative;}
.papel .clip {position: absolute; top:-11px; right:70px;}
.papel h1 {font-size:17px; color:#cd5967; font-family:'Montserrat', sans-serif; font-weight: 700;}
.papel p {font-size:15px; line-height: 20px; color:#212120; font-family:'Montserrat', sans-serif; font-weight: 500}

.experiencia {   display: flex;   align-items: center;}
.experiencia i  { float:left;}
.experiencia .texto { display:flex; align-items:center; min-height:105px; margin-left:25px;background-image: url(../images/landings_01_2018/comillas.svg); background-repeat: no-repeat; background-position:center center;}
.experiencia .texto p, 
.experiencia .texto span {font-size:18px; color:#212120;  font-family:'Montserrat', sans-serif; font-weight: 500;     margin-bottom: 0;}
.experiencia .texto span {font-size: 15px; color:#cd5967; display: block; margin-top: 8px}

.bienvenidos {text-align:right; margin-top: 15px}


@media(max-width: 991px){
	.postit {padding:120px 30px 20px 43px}
	.row.encabezado { margin-right: 0;  padding: 25px 40px 0px 40px;}
	.encabezado h3 { font-size: 15px;}
	form.row {margin-right: 0; padding: 12px 40px 110px 40px;}
	.formulario2 #pref1 {width: 75px}
	.formulario2 #telefono {width: 185px; float:right;}
	.formulario2 {margin-top: -110px}
	.formulario2 input {line-height: 22px;}
	.formulario2 input[type="submit"]{ width: calc(100% + 15px);    margin-left: -15px; padding:20px 10px;}
	.formulario2 a { width: calc(100% + 15px);    margin-left: -15px; }

	.papel {padding: 56px 83px;}
	.bienvenidos {text-align:right; margin-top: 25px}

}


@media(max-width: 767px){
	.postit {margin-left: 8.33333333%;   padding: 120px 50px 50px 60px;}
	.formulario2 {float: left;  margin-top: 20px;}
	.papel .clip { right:40px;}

	.papel { padding: 41px 30px 20px 67px; background-repeat: repeat-y; }

	.experiencia i  img { width: 150px;}
.experiencia .texto p, 
.experiencia .texto span {font-size:15px; }
.experiencia .texto span {font-size: 13px; }

.bienvenidos {text-align:center; margin-top: 35px}

}

@media(max-width: 479px){
	.postit {   margin-left: -5%;  background-size: 110%;   padding: 90px 18px 35px 51px; height: auto; min-height: inherit }
	.row.encabezado { margin-right: 0;  padding: 25px 30px 0px 30px;}
	.formulario2 {padding: 0 15px;}
	form.row {margin-right: 0; padding: 12px 30px 110px 30px;}
	.encabezado h3 { font-size: 14px;}
	.formulario2 #pref1 {width: 65px}
	.formulario2 #telefono {width: 115px; float:right;}

	.formulario2 input[type="submit"]{ width: 100%;    margin-left: -0px; padding:20px 10px;}
	.formulario2 a { width: 100% ;    margin-left: -0px; }

	.papel { padding: 41px 35px 20px 55px; background-repeat: repeat-y; }
	.papel .clip { right:20px;}

	.experiencia { display: block;  text-align: center;}
	.experiencia i {    float: none;}
	.experiencia .texto {    margin-left: 0; clear: both;  text-align: left;}
}

