*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: "AndesRoundedW01";
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 12px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=54)";
  filter: alpha(opacity=54);
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[class*='grid-'] {
  padding: 10px 10px;
  position: relative;
}
.grid {
  max-width: 100%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.grid-wrapper {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .grid-1 {
    max-width: 8.33%;
  }
  .grid-2 {
    max-width: 16.66%;
  }
  .grid-3 {
    max-width: 25%;
  }
  .grid-4 {
    max-width: 33.33%;
  }
  .grid-5 {
    max-width: 41.66%;
  }
  .grid-6 {
    max-width: 50%;
  }
  .grid-7 {
    max-width: 58.33%;
  }
  .grid-8 {
    max-width: 66.66%;
  }
  .grid-9 {
    max-width: 75%;
  }
  .grid-10 {
    max-width: 83.33%;
  }
  .grid-11 {
    max-width: 91.66%;
  }
  .grid-12 {
    max-width: 100%;
  }
  .grid-dec-10 {
    max-width: 10%;
  }
  .grid-dec-20 {
    max-width: 20%;
  }
  .grid-dec-30 {
    max-width: 30%;
  }
  .grid-dec-40 {
    max-width: 40%;
  }
  .grid-dec-50 {
    max-width: 50%;
  }
  .grid-dec-60 {
    max-width: 60%;
  }
  .grid-dec-70 {
    max-width: 70%;
  }
  .grid-dec-80 {
    max-width: 80%;
  }
  .grid-dec-90 {
    max-width: 90%;
  }
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-Black.eot");
  src: local('Andes Rounded W01 Black'), local('AndesRoundedW01-Black'), url("../fonts/AndesRoundedW01-Black.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-Black.woff2") format('woff2'), url("../fonts/AndesRoundedW01-Black.woff") format('woff'), url("../fonts/AndesRoundedW01-Black.ttf") format('truetype'), url("../fonts/AndesRoundedW01-Black.svg#AndesRoundedW01-Black") format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-ExtraBold.eot");
  src: local('Andes Rounded W01 ExtraBold'), local('AndesRoundedW01-ExtraBold'), url("../fonts/AndesRoundedW01-ExtraBold.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-ExtraBold.woff2") format('woff2'), url("../fonts/AndesRoundedW01-ExtraBold.woff") format('woff'), url("../fonts/AndesRoundedW01-ExtraBold.ttf") format('truetype'), url("../fonts/AndesRoundedW01-ExtraBold.svg#AndesRoundedW01-ExtraBold") format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-SemiBold.eot");
  src: local('Andes Rounded W01 SemiBold'), local('AndesRoundedW01-SemiBold'), url("../fonts/AndesRoundedW01-SemiBold.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-SemiBold.woff2") format('woff2'), url("../fonts/AndesRoundedW01-SemiBold.woff") format('woff'), url("../fonts/AndesRoundedW01-SemiBold.ttf") format('truetype'), url("../fonts/AndesRoundedW01-SemiBold.svg#AndesRoundedW01-SemiBold") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-Medium.eot");
  src: local('Andes Rounded W01 Medium'), local('AndesRoundedW01-Medium'), url("../fonts/AndesRoundedW01-Medium.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-Medium.woff2") format('woff2'), url("../fonts/AndesRoundedW01-Medium.woff") format('woff'), url("../fonts/AndesRoundedW01-Medium.ttf") format('truetype'), url("../fonts/AndesRoundedW01-Medium.svg#AndesRoundedW01-Medium") format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-Regular.eot");
  src: local('Andes Rounded W01 Regular'), local('AndesRoundedW01-Regular'), url("../fonts/AndesRoundedW01-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-Regular.woff2") format('woff2'), url("../fonts/AndesRoundedW01-Regular.woff") format('woff'), url("../fonts/AndesRoundedW01-Regular.ttf") format('truetype'), url("../fonts/AndesRoundedW01-Regular.svg#AndesRoundedW01-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-Light.eot");
  src: local('Andes Rounded W01 Light'), local('AndesRoundedW01-Light'), url("../fonts/AndesRoundedW01-Light.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-Light.woff2") format('woff2'), url("../fonts/AndesRoundedW01-Light.woff") format('woff'), url("../fonts/AndesRoundedW01-Light.ttf") format('truetype'), url("../fonts/AndesRoundedW01-Light.svg#AndesRoundedW01-Light") format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-ExtraLight.eot");
  src: local('Andes Rounded W01 ExtraLight'), local('AndesRoundedW01-ExtraLight'), url("../fonts/AndesRoundedW01-ExtraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-ExtraLight.woff2") format('woff2'), url("../fonts/AndesRoundedW01-ExtraLight.woff") format('woff'), url("../fonts/AndesRoundedW01-ExtraLight.ttf") format('truetype'), url("../fonts/AndesRoundedW01-ExtraLight.svg#AndesRoundedW01-ExtraLight") format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'AndesRoundedW01';
  src: url("../fonts/AndesRoundedW01-UltraLight.eot");
  src: local('Andes Rounded W01 UltraLight'), local('AndesRoundedW01-UltraLight'), url("../fonts/AndesRoundedW01-UltraLight.eot?#iefix") format('embedded-opentype'), url("../fonts/AndesRoundedW01-UltraLight.woff2") format('woff2'), url("../fonts/AndesRoundedW01-UltraLight.woff") format('woff'), url("../fonts/AndesRoundedW01-UltraLight.ttf") format('truetype'), url("../fonts/AndesRoundedW01-UltraLight.svg#AndesRoundedW01-UltraLight") format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local('MyriadPro-Regular'), local('MyriadPro-Regular'), url("../fonts/MyriadPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/MyriadPro-Regular.woff2") format('woff2'), url("../fonts/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular.ttf") format('truetype'), url("../fonts/MyriadPro-Regular.svg#MyriadPro-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  width: 100%;
  font-weight: 900;
  line-height: 1.5em;
}
@media screen and (min-width: 640px) {
  html,
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1260px) {
  html,
  body {
    font-size: 16px;
  }
}
html {
  min-height: 100vh;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bg-page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.bg-page:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
a {
  color: inherit;
  position: relative;
  text-decoration: none;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
  position: relative;
}
.mwrap {
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 640px) {
  .mwrap {
    width: 85%;
  }
}
@media screen and (min-width: 768px) {
  .mwrap {
    width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  .mwrap {
    width: 75%;
  }
}
@media screen and (max-width: 1399px) {
  .no-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1400px) {
  .no-desktop {
    display: none;
  }
}
.only {
  display: none;
}
@media screen and (max-width: 639px) {
  .only-xs {
    display: block;
  }
}
@media screen and (min-width: 640px) and (max-width: 767px) {
  .only-s {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .only-m {
    display: block;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .only-l {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .only-xl {
    display: block;
  }
}
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.but {
  text-decoration: none;
  color: #fff;
  padding: 12px 30px;
  display: table;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 0.938em;
  font-weight: 500;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid #005e53;
}
@media screen and (min-width: 768px) {
  .but {
    padding: 10px 60px;
  }
}
.but span {
  display: block;
  position: relative;
  z-index: 5;
}
.but:before {
  content: '';
  border: 1px solid #fff;
  border-radius: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  -ms-transition: 0.7s;
  transition: 0.7s;
}
.but:hover {
  background: #009180;
}
.but:hover:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.but-color {
  color: #fff;
}
.but-color:hover {
  color: #009180;
}
.b-inline {
  display: inline-block;
  vertical-align: middle;
}
.transition {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.transition-a a {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.banner {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.banner-image {
  padding-bottom: 150%;
  position: relative;
  z-index: 0;
  background-color: #fff;
  background-position: center left;
}
@media screen and (min-width: 360px) {
  .banner-image {
    padding-bottom: 178%;
  }
}
@media screen and (min-width: 640px) {
  .banner-image {
    padding-bottom: 70%;
    background-position: center;
  }
}
@media screen and (min-width: 768px) {
  .banner-image {
    padding-bottom: 64%;
  }
}
@media screen and (min-width: 1024px) {
  .banner-image {
    padding-bottom: 60%;
  }
}
@media screen and (min-width: 1260px) {
  .banner-image {
    padding-bottom: 50%;
  }
}
@media screen and (min-width: 1400px) {
  .banner-image {
    padding-bottom: 45%;
  }
}
.banner-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #000;
}
@media screen and (min-width: 1024px) {
  .banner-content {
    font-size: 18px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content {
    font-size: 18px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content {
    font-size: 24px;
  }
}
.banner-content .mwrap {
  margin: inherit;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .banner-content .mwrap {
    margin-bottom: 30px;
    position: relative;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .mwrap {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
.banner-content .mwrap .add-wrapper {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  width: 100%;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}
@media screen and (min-width: 360px) {
  .banner-content .mwrap .add-wrapper {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -moz-box-align: end;
    -o-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -o-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 640px) {
  .banner-content .box-text {
    font-size: 16px;
  }
}
.banner-content .box-text-1 {
  margin-bottom: 0;
  position: absolute;
  bottom: 165px;
  left: 10px;
  background-image: url("../images/landing-referidos-empleados/bg-1.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 147px;
  height: 103px;
  text-align: left;
  color: #fff;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 5;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-1 {
    width: 185px;
    height: 130px;
    font-size: 16px;
    bottom: 215px;
  }
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-1 {
    left: 30px;
    bottom: 20px;
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-1 {
    width: 243px;
    height: 170px;
    bottom: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-1 {
    width: 314px;
    height: 220px;
    bottom: 25px;
  }
}
.banner-content .box-text-1 .text-1 {
  margin-top: -15px;
  font-size: 1.875em;
  line-height: 1.037em;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-1 .text-1 {
    margin-top: -25px;
  }
}
.banner-content .box-text-1 .text-2 {
  font-size: 1.875em;
  line-height: 1.037em;
}
.banner-content .box-text-2 {
  margin-bottom: 0;
  position: absolute;
  bottom: 165px;
  left: 135px;
  background-image: url("../images/landing-referidos-empleados/bg-2.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 124px;
  height: 83px;
  text-align: right;
  color: #fff;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-2 {
    font-size: 16px;
    width: 157px;
    height: 106px;
    bottom: 215px;
    left: 170px;
  }
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-2 {
    bottom: 30px;
    left: 180px;
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-2 {
    width: 206px;
    height: 137px;
    bottom: 30px;
    left: 230px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-2 {
    width: 267px;
    height: 178px;
    bottom: 30px;
    left: 290px;
  }
}
.banner-content .box-text-2 .text-1 {
  margin-top: 0;
  font-size: 1.674em;
  line-height: 1.037em;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-2 .text-1 {
    margin-top: 10px;
  }
}
.banner-content .box-text-2 .text-2 {
  font-size: 1.674em;
  line-height: 1.037em;
}
.banner-content .box-text-3 {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  font-size: 12px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.35);
  box-shadow: 0 0 20px rgba(0,0,0,0.35);
  padding-bottom: 40px;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-3 {
    font-size: 16px;
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-3 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-3 {
    font-size: 1.125em;
    padding-bottom: 54px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .box-text-3 {
    margin-right: 10%;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-3 {
    margin-right: 5%;
    padding-bottom: 66px;
  }
}
.banner-content .box-text-3 .text-1 {
  font-size: 1.5em;
  text-align: right;
  width: 100%;
  letter-spacing: 1px;
  padding: 8px 10px 5px;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-3 .text-1 {
    padding: 15px 10px;
  }
}
@media screen and (min-width: 640px) {
  .banner-content .box-text-3 .text-1 {
    padding: 15px 15px;
  }
}
@media screen and (min-width: 1260px) {
  .banner-content .box-text-3 .text-1 {
    padding: 15px 15px 10px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-3 .text-1 {
    padding: 20px 20px;
  }
}
.banner-content .box-text-3 .text-2 {
  background-color: #d54772;
  padding: 5px 10px 2px;
  color: #fff;
}
.banner-content .box-text-3 .text-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.875em;
  line-height: 1.214em;
  height: 40px;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-weight: normal;
  text-align: left;
  padding: 10px 16px;
  font-family: "MyriadPro";
  color: #000;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-3 .text-3 {
    height: 46px;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-3 .text-3 {
    height: 54px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-3 .text-3 {
    height: 66px;
  }
}
.banner-content .box-text-3 .line-1 {
  font-size: 1.813em;
  line-height: 1.25em;
}
.banner-content .box-text-3 .line-2 {
  font-size: 2.688em;
  line-height: 1.25em;
  margin-top: 5px;
}
.banner-content .box-text-3.alternate {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 0;
  overflow: initial;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-3.alternate {
    margin-bottom: 46px;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .box-text-3.alternate {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 1400px) {
  .banner-content .box-text-3.alternate {
    margin-bottom: 66px;
  }
}
.banner-content .box-text-3.alternate .text-2 {
  border-radius: 0 0 15px 15px;
}
.banner-content .box-text-3.alternate .text-3 {
  padding: 10px 2px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
  font-size: 0.75em;
  line-height: 1.167em;
  top: 100%;
  bottom: initial;
}
@media screen and (min-width: 360px) {
  .banner-content .box-text-3.alternate .text-3 {
    color: #fff;
  }
}
@media screen and (min-width: 1024px) {
  .banner-content .mwrap {
    display: -webkit-border-box;
    display: -moz-border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: border-box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .banner-content .content {
    width: 50%;
  }
}
.text-change .text {
  display: none;
}
.text-change .text.active {
  display: block;
}
.head {
  position: absolute;
  z-index: 10;
  width: 100%;
}
.head .mwrap {
  text-align: center;
}
.head .title {
  background: #009180;
  color: #fff;
  display: inline-block;
  padding: 25px 30px;
  font-size: 3em;
}
@media screen and (min-width: 768px) {
  .head .title {
    padding: 30px 35px;
  }
}
@media screen and (min-width: 1260px) {
  .head .title {
    padding: 35px 40px;
    font-size: 4em;
  }
}
@media screen and (min-width: 1400px) {
  .head .title {
    padding: 45px 40px;
    font-size: 4em;
  }
}
.logo {
  max-width: 160px;
  margin: auto auto 20px;
  padding: 10px 20px;
}
@media screen and (min-width: 640px) {
  .logo {
    max-width: 180px;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    padding: 5px 20px 10px;
    max-width: 220px;
  }
}
.sect-form {
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .sect-form {
    padding: 40px 0;
  }
}
@media screen and (min-width: 1260px) {
  .sect-form {
    padding: 60px 0 50px;
  }
}
.sect-form p:first-child {
  margin-top: 0;
}
.sect-form p:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1260px) {
  .sect-form .grid-12 {
    max-width: 50%;
  }
  .sect-form .grid-12:first-child {
    padding-right: 30px;
  }
  .sect-form .grid-12:nth-child(2) {
    padding-left: 30px;
  }
  .sect-form .grid-12:last-child {
    max-width: 100%;
  }
}
.sect-form .subtitle {
  font-size: 1.85em;
  margin-bottom: 20px;
}
.sect-form .form {
  background: rgba(255,255,255,0.7);
  border-radius: 15px;
}
.sect-form .form .text {
  font-weight: normal;
  margin-bottom: 20px;
}
.sect-form .form form input[type=text],
.sect-form .form form input[type=tel],
.sect-form .form form input[type=number],
.sect-form .form form input[type=email] {
  padding: 5px 8px;
  width: 10%;
  background-color: #e8e8e8;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  border: none;
  border-radius: 2px;
  font-size: 1.25em;
}
.sect-form .form form input[type=number] {
  -moz-appearance: textfield;
}
.sect-form .form form input[type=number]::-webkit-outer-spin-button,
.sect-form .form form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sect-form .form .field-wrap {
  margin: 10px 0;
  position: relative;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  width: 100%;
}
.sect-form .form .field-wrap label {
  font-size: 1.25em;
  white-space: nowrap;
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px 10px;
  background-color: #d54772;
  color: #fff;
}
@media screen and (min-width: 1260px) {
  .sect-form .form .field-wrap {
    margin: 15px 0;
  }
}
.sect-form .form .field-wrap.phone-number {
  display: -webkit-border-box;
  display: -moz-border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: border-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -o-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sect-form .form .field-wrap.phone-number input[type=number] {
  width: 25%;
}
.sect-form .form .field-wrap.phone-number input[type=tel] {
  width: calc(75% - 15px);
  margin-left: 5px;
}
.sect-form .form .field-wrap.phone-number span {
  display: block;
  width: 5px;
}
.sect-form .form .field-wrap span.error {
  position: absolute;
  background: #006b5d;
  width: 20px !important;
  height: 20px !important;
  border-radius: 100px;
  top: 4px;
  right: 5px;
  bottom: 0;
  color: #fff;
  font-weight: bold;
  display: -webkit-border-box !important;
  display: -moz-border-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: border-box !important;
  display: flex !important;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .sect-form .form .field-wrap span.error {
    font-size: 1.125em;
    padding-top: 5px;
    top: 6px;
    width: 24px !important;
    height: 24px !important;
  }
}
.sect-form .form .field-submit {
  margin-top: 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .sect-form .form .field-submit {
    margin-top: 25px;
  }
}
.sect-form .form .field-submit button,
.sect-form .form .field-submit input {
  width: 80%;
  max-width: 300px;
  margin: auto;
  background-color: #d54772;
  border: none;
  border-radius: 10px;
  padding: 12px 15px;
  font-size: 1.083em;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -ms-transition: 0.35s;
  transition: 0.35s;
}
.sect-form .form .field-submit button:hover,
.sect-form .form .field-submit input:hover {
  background-color: #942244;
}
.foot {
  padding: 10px 0 20px;
  color: #e8e8e8;
  position: relative;
  z-index: 1;
}
#sawubona-footer {
  width: 100%;
  display: block;
}
#sawubona-footer a {
  text-decoration: none;
  color: inherit;
}
#sawubona-footer img {
  width: auto;
}
