@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.wrap-bg {
  background-image: url('../images/landing-mti/slide-header.jpg');
  width: 100%;
  height: 618px;
  background-position: center;
  background-size: cover;
}

.wrap-logo img {
  padding-top: 10%;
}

.wrap-form {
  padding: 15% 5% 5%;
  background-color: rgba(255, 255, 255, .7);
  border-radius: 0 30px;
}

.wrap-form p {
  font-size: 18px;
  color: #000;
}

.wrap-form .form-control {
  height: 45px;
  font-size: 13px;
  color: #424242;
  border-radius: 0px;
  border-color: #4BBEA9;
}

.wrap-form .form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-form .form-flex .pref {
  max-width: 25%;
}

.wrap-form .form-flex span {
  color: #424242;
  font-size: 13px;
}

.wrap-form button {
  width: 100%;
  background-color: #DD150A;
  border: none;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  transition: ease-in-out .3s;
}

.wrap-form button:hover {
  background-color: #DD150A;
  opacity: .8;
}

.bg-plan {
  background-color: #068E80;
  padding: 15px 0;
}

.bg-plan p {
  margin-bottom: 0;
  text-align: center;
  height: auto;
  color: #fff;
  font-weight: 300;
}

.bg-plan p span{
  font-weight: bold;
}

.border-icon {
  padding: 0;
}

.border-icon:first-child::before{
  content: ' ';
  border-left: 0;
}

.border-icon::before {
  content: ' ';
  border-left: 1px solid rgba(66, 66, 66, .4);
  height: 135px;
  position: absolute;
}

.wrap-icons img {
  height: 70px;
}

.wrap-icons p {
  padding: 0px 30px;
  margin-top: 15px;
}

footer {
  background-color: #E5E5E5;
  padding: 5rem 0 2rem 0;
}

footer h6 {
  font-size: 18px;
  font-weight: bold;
  color: #068E80;
}

footer ul {
  list-style: none;
  color: #565656;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  padding-inline-start: 20px;
}

footer ul strong{
  font-weight: 700;
}

footer ul li::before {
  content: "\2022";
  color: #068E80;
  font-weight: bold;
  display: inline-block;
  width: 1em; 
  margin-left: -1em;
}


@media (max-width: 1199px) {
  .wrap-bg {
    height: 500px;
  }
  .wrap-logo img {
    max-width: 85px;
  }
  .wrap-form {
    padding: 10% 5% 5%;
  }
  .wrap-form p {
    font-size: 16px;
  }
  .wrap-form .form-control {
    height: 40px;
    font-size: 11px;
  }
  .wrap-form button {
    height: 40px;
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .wrap-bg {
    background-position: 30% 0;
  }
}

@media (max-width: 767px) {
  .border-icon::before {
    height: -webkit-fill-available;
  }
  .border-icon:first-child {
    border-bottom: 1px solid rgba(66, 66, 66, .4);
  }
  .border-icon:nth-child(2) {
    border-bottom: 1px solid rgba(66, 66, 66, .4);
  } 
  .border-icon:nth-child(3):before{
    content: ' ';
    border-left: 0;
  }
  .wrap-icons {
    margin: 1.5rem 0;
  }
  footer {
    padding: 3rem 0;
  }
  footer h6 {
    margin-top: 2rem;
  }
}

@media (max-width: 575px) {
  .wrap-bg {
    height: 415px;
  }
  .wrap-logo img {
    max-width: 100px;
  }
  .form-mobile {
    background-color: #C7C7C7;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .wrap-form {
    padding: 5%;
    border-radius: 20px;
  }
  .wrap-icons p {
    font-size: 13px;
  }
  .wrap-icons img {
    height: 50px;
  }
  footer h6 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .wrap-bg {
    background-position: bottom;
    background-image: url('../images/landing-mti/slide-mobile.jpg');
    height: 480px;
  }
  .wrap-form p {
    font-size: 13px;
  }
  .wrap-form .form-control {
    height: 40px;
    font-size: 10px;
  }
  .wrap-form button {
    font-size: 13px;
  }
  .wrap-icons p {
    padding: 0px 15px;
    margin-top: 15px;
  }
}

@media (max-width: 360px) {
  .wrap-bg {
    background-position: bottom;
    height: 390px;
  }
}
