.no-imprimir{display: none}
.list_contact{display: none}
.bg-credencial{display: block; width: 100%; position: absolute; top: 0}
/*.modal-content{box-shadow: none; border: none; width: 100%}*/
.datos-credencial{ position: relative; left: 30px; right: 0; top: 365px; color:#fff !important;}
.datos-credencial p{ font-size: 18px; line-height:20px; font-weight:700; color:#fff !important; -webkit-print-color-adjust: exact;}
.datos-credencial p.frase{ color:#333 !important;}
.imprimir{display: block;}
.datos-credencial .frase{display: block; margin-top: 100px; font-size: 15px}
.wcchatTabright#_wcchat19800603_tab{display: none !important;}