.no-imprimir{display: none}
.list_contact{display: none}
.bg-credencial{display: block; width: 100%; position: absolute; top: 0}
/*.modal-content{box-shadow: none; border: none; width: 100%}*/
.datos-credencial{text-transform: uppercase; font-size: 18px; position: relative; left: 30px; right: 0; top: 420px;}
.imprimir{display: block;}
.datos-credencial .frase{display: block; margin-top: 100px; font-size: 15px}