/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Exo:300,300i,400,400i,500,500i,600,600i,700,700i');

body {font-family: 'Exo', sans-serif; background-color: #F1F1F1;}
h1{color: #43aa91; font-size: 15px; font-weight: 700;}
p{ font-size: 13px; line-height: 17px; color: #696969; margin:15px 0;}
hr{ border: none; border-bottom: 1px solid #43aa91;}

#piecu{ position:fixed; right:10px; bottom:5px;}


@media(max-width: 991px){
	
}

@media(max-width: 767px){
	
}

@media(max-width: 479px){
	
}
